<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 class="heading" style="font-size: 36px;  text-align: center;">Home</h1>
    <P style="font-size: 30px; line-height: 1.5;  margin: 50px;">This is a demo application created for a backend developer assignment. It integrates Google OAuth, Google Picker API, and WebSockets. This app is not for public use and is only for demonstration purposes</P>
</body>
</html>